<style>
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
body, html {
  height: 100%;
  margin: 0;
}

.bg {
  
  background-image: url("bg.jpg");

 
  height: 100%; 

  
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: transparent;
  margin-left:140px;
  font-family: Arial, Helvetica, sans-serif;
  float:right;
  margin-right:70px;
}

.topnav a {
  float: left;
  color: black;

  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}


.topnav a:hover {
  background-color: lightblue;
  color: black;
}

form {
  border: 3px solid #f1f1f1;
  font-family: Arial;
}

.container {
  padding: 20px;
  margin-left:40px;
  margin-right:40px;
  background-color: white;
}

input[type=text], input[type=submit] {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

input[type=submit] {
  background-color: #33d6ff;
  color: white;
  border: none;
}

input[type=submit]:hover {
  opacity: 0.9;
}